/2406.01493v4.pdf
/advanced_web_scraper.py
/desktop.ini
/Everything
/Hands_On_Machine_Learning_with_Scikit_Learn_Keras_and_TensorFlow.pdf
/Lise Matematiği - Yapay Zeka İçin Temelden Başlangıç Yol Haritası.pdf
/tintkitapcik_30062024.pdf
/WhatsApp Görsel 2025-06-18 saat 09.53.24_3d53f7f1.jpg
/Yapay Zeka için Matematik Temelleri - Akademik Yol Haritası.pdf
/Yapay Zeka Öğrenme Yol Haritası - Sıfırdan Uzmanlığa.pdf
/~$Database_Hafta_5.pptx
/~$Database_Hafta_6 .pptx
/ubuntu-24.04.2-desktop-amd64.iso.crdownload